*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    overflow: hidden; /* retira a rolagem da barra no navegador */
  }
  
  .container {
    position: relative; /*Define a posição do contêiner como relativa ao próprio local original.*/
    display: flex; /* permite o uso de propriedades de layout flexiveis  */
    justify-content: center; /* centraliza na horizontal  */
    align-items: center; /* centraliza na vertical  */
    height: 100vh; /* Garante que o contêiner ocupe toda a altura da tela */
  }

.game-board {
/* parte visual e executavel do jogo*/
    width: 100%;
    height: 500px;
    border-bottom: 15px solid green;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);


}



.button {
    position: absolute;
    top: 20px; /* distancia o elemento ao topo*/
    z-index: 1; /* Garante que o botão fique sobre os outros elementos */
    width: 350px; /* define  a largura  */
  }
  
  button {
    width: 80%;
    padding: 10px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center; /*centraliza na horizontal */
  }
  
  .restart {
    padding: 10px 20px;
    cursor: pointer; /* cursor de mão  */
    border: none; /* retira a borda*/
    background-color: forestgreen; /* cor de fundo */
    font-size: 25px; /* tamanho da letra */
    border-radius: 10px; /* bordas redondas */
    color: white; /* cor da letra */
    transition: 800ms; /* adiciona efeito de transição  */
  }

  .game-over-text {
    position: absolute;
    top: 50%; /*define a distancia entre o elemento e o topo como 50% */
    left: 50%; /*define a distancia entre a esquerda e o elemento  como 50% */
    transform: translate(-50%, -50%); /*Aplica uma transformação para mover o elemento 50% para a esquerda e 50% para cima */
    font-size: 30px;
    font-weight: bold;  /*aplica negrito */
    color: forestgreen; /*cor da letra */
    display: none; /* Inicialmente oculto */
  }



.pipe{
position: absolute;
bottom: 0;
width: 80px;
animation: pipe-animation 1.5s infinite linear;
}

@keyframes pipe-animation {
from{right: -80px;}
to {right: 100%;}

}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

@keyframes mario-animation {

    0%  {bottom: 0;}
    40% {bottom: 180px;}
    50% { bottom: 180px;}
    60% {bottom: 180px;}
    100% { bottom: 0;}
}

.jump{
    animation: mario-animation 500ms ease-out;

} 

.clouds {
    width: 450px;
    position: absolute;
    animation: clouds-animation 8s infinite linear;
}

@keyframes clouds-animation {

from{ right: -450px;}
to {right: 100%;}


}